/* common shared styles  */

body{ 
    font-family: 'lato',sans-serif;
    font-family: 'Open Sans', sans-serif;
}
/* nav releated styles */
nav{ display: flex;
justify-content: space-between;
align-items: center;
 margin:0 200px;
}

.nav-portfolio{

    color: black;
    font-size: 45px;
    font-weight: 800px;
}
.primary-color{
    color:#ff9900 ;
}
nav > ul{
    display: flex;
    align-items: center;
}
nav li {
    list-style: none;
    margin-right: 50px;
}
nav a{
    text-decoration: none;
    color: #615e5e;
}
.btn-primary{
    border-radius: 5px;
    background-color: #ff9900;
    padding: 15px 35px;
    border: none;
    font-size: 20px;
    color: white;
    font-weight: 700;

}

.section-titile{
color: rgb(24, 24, 24);
font-size: 35px;
font-weight: 700;
text-align: center;
}
.section-discription{
 color: rgb(117, 117, 117);
font-size: 18px;
text-align: center;
}

/*

Header releted style */
.header{
    background-color: #fff8f3;
    background-image: url('../images/header_bg.png');
background-position: bottom right;    
    background-repeat: no-repeat;


  
 
}
.banner{
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
   
}
.contact{
    background-color: #fff8f3;
    border: 1px  solid #ff9900;
    color: #ff9900;
    padding: 15px 35px;
    border-radius: 5px;
    margin-left: 25px;
    font-size: 20px;
    font-weight: 700;
}
.banner .profile-picture {
    width:500px;
   
}
.banner-greeting{
    font-size: 45px ;
    color: rgb(71, 71, 71);
    margin-bottom: 0;
}
.banner-title{ 
font-size: 85px;
font-weight: 700;
margin-top: 5px;
margin-bottom: 20px;
}

.banner-description{
width: 585px;
height: 60px;
left: 230px;
right: -230px;
top: 499px;
bottom: -297px;
font-size: 18px;
color: rgb(117, 117, 117);
margin-bottom: 25px;
    
}

/* MAIN SECTION */
main{
    max-width: 1140px;
    margin: 0 auto;
}
main section{
    margin-top: 130px;
}
/* About section */
.about{

    padding: 131px;
    border-radius: 10px;
    background: rgb(255, 248, 243);
    margin-top: 130px;

}

.about-info-container{
    display: flex;
    justify-content: space-around;
}
.about-info{
    text-align: center;
}

#what-i-do-discription{
    padding: 30px 150px;
}
.skil{
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    background: rgb(255, 255, 255);
   
}
.skill-container{
    display: flex;
    gap: 24px;
}
.skill-discription{

    color: rgb(117, 117, 117);
}
/* resume-section styles */
.section-title {
color: rgb(24, 24, 24);
font-size: 35px;
font-weight: 700;
text-align: center;
margin-bottom: 112px;
}
.resume-column-title{

    color: rgb(71, 71, 71);
    font-size: 30px;
    font-weight: 700;  
  text-align: left;
}
.resume-container{
    display: flex;
    gap: 71px;
}
.resume-item-instraction ,.resume-item-description{

color: rgb(117, 117, 117);

}
.resume-item-title{
color: rgb(71, 71, 71);

font-size: 25px;
font-weight: 700;
}
.Download-CV{
    text-align: center;
    margin-top: 50px;
}
.section-description{
    text-align: center;
}

/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

footer {
    background:  #fff8f3;
    height: 780px;
}

.footer-container {
    width: 1170px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    gap: 120px;
}

.footer-column-left, . {
    width: 50%;
}
.footer-column-right{
    width: 50%;
}

.footer-social-links {
    display: flex;
    gap: 8px;
}

.footer-section-title {
    font-size: 35px;
    font-weight: 700;
    margin: 130px 0 20px 0;
   
    
}
#text-primary-color{
    color: rgb(71, 71, 71);
   font-size: 16px;
   font-weight: 400;
   text-align: left;
}
.form-contact input[type= text] , .form-contact  input[type=email], textarea{
    display: block;
    margin-bottom:24px ;
    background: rgb(255, 255, 255);
    border: 0;
    border-radius: 5px;
    width: 100%;
    padding: 18px 35px ;

 
}
.footer-social-links a{
    margin-right: 24px;
}




