/* common shared styles  */

body{ 
    font-family: 'lato',sans-serif;
    font-family: 'Open Sans', sans-serif;
}
/* nav releated styles */
nav{ display: flex;
justify-content: space-between;
align-items: center;
 margin:0 200px;
}

.nav-portfolio{

    color: black;
    font-size: 45px;
    font-weight: 800px;
}
.primary-color{
    color:#ff9900 ;
}
nav > ul{
    display: flex;
    align-items: center;
}
nav li {
    list-style: none;
    margin-right: 50px;
}
nav a{
    text-decoration: none;
    color: #615e5e;
}
.btn-primary{
    border-radius: 5px;
    background-color: #ff9900;
    padding: 15px 35px;
    border: none;
    font-size: 20px;
    color: white;
    font-weight: 700;

}
/* Header releted style */
.header{
    background-color: #fff8f3;
}

.banner{
    padding:30px 30px 30px 150px;
    display: flex;
    align-items: center;
}
.contact{
    background-color: #fff8f3;
    border: 1px  solid #ff9900;
    color: #ff9900;
    padding: 15px 35px;
    border-radius: 5px;
    margin-left: 25px;
    font-size: 20px;
    font-weight: 700;
}
.banner .profile-picture {
    width: 500px;
}